altair
attrs
blinker
streamlit_folium
cachetools
certifi
pyperclip
charset-normalizer
reportlab
python-dotenv
click
pandas
fpdf
streamlit-lottie
bcrypt
streamlit-authenticator
colorama
gitdb
plotly
gitpython
idna
jinja2
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy
packaging
pandas
pillow
protobuf==3.20.
pyarrow
pydeck
python-dateutil
referencing
requests
streamlit
